---
---

$primary:    #20bf55;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold:  100 !default;



// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3),
    6: ($spacer * 6)
  ),
  $spacers
);
