<div class="dropdown">
  <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{page.link-text}}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">iLoons</a>
    <a class="dropdown-item" href="#">Snotify</a>
    <a class="dropdown-item" href="#">Poogle</a>
  </div>
</div>

<p class="mt-6">
<button class="btn btn-light" type="button" id="youtube">
  Subscribe to my YouTube channel
</button>
</p>
